arch = "AArch64"
name = "SM+RW"
hash = "3488cbb7d423fdcaff3ce91429d806cd"
symbolic = ["x"]

[[self_modify]]
address = "L3:"
bytes = 4
values = [
  "0x14000001",
  "0x14000003",
  "0x14000005"
]

[locations]
"x" = "0"

[types]
"x" = "uint64_t"

[thread.0]
init = { X3 = "x", X1 = "L3:", X0 = "0x14000005" }
code = """
	STR W0, [X1]
	LDR X2, [X3]
	DMB SY
	DC CVAU, X1
	DSB ISH
	IC IVAU, X1
	DSB ISH
	ISB
L3:
	B Lfail
	MOV X9,#3
	B Lout
Lfail:
	MOV X9,#1
	B Lout
Lfail2:
	MOV X9,#2
	B Lout
Lout:
"""

[thread.1]
init = { X6 = "x", X2 = "0x14000001", X1 = "L3:" }
code = """
	LDR W0,[X1]
	STR W2,[X1]
	LDR W3,[X1]
	EOR X4,X3,X3
	MOV X5,#1
	STR X5,[X6,X4]
"""

[final]
expect = "sat"
assertion = "0:X2 = 1 & 1:X0 = 0x14000005 & 1:X3 = 0x14000001 & 0:X9 = 2"
